In order to detect anomalies in the transactions, we looked at the time between the request for a new order or a cancelation and the acknowledgement coming from the exchange to bank. We built and trained autoencoder models to detect outliers and anomalies using the PyOD library.

#reading data

In [5]:
import pandas as pd

aq_data = pd.read_json("/content/drive/MyDrive/ML/Hackathon (1)/Hackathon/AequitasData.json")
alpha_data = pd.read_json("/content/drive/MyDrive/ML/Hackathon (1)/Hackathon/AlphaData.json")
tsx_data = pd.read_json("/content/drive/MyDrive/ML/Hackathon (1)/Hackathon/TSXData.json")

total_df = pd.concat([aq_data, alpha_data, tsx_data])
total_df

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
0,2023-01-06 09:28:00.013814157,2023-01-06 14:28:00.013814157,NBFToExchange,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderRequest,0455B,13.02,Aequitas
1,2023-01-06 09:28:00.013890960,2023-01-06 14:28:00.013890960,NBFToExchange,b8c529bf-9283-11ed-a725-047c16291a22,NewOrderRequest,0455B,13.14,Aequitas
2,2023-01-06 09:28:00.014031152,2023-01-06 14:28:00.014031152,NBFToExchange,b8c529c0-9283-11ed-bf41-047c16291a22,CancelRequest,0455B,NaN,Aequitas
3,2023-01-06 09:28:00.014086398,2023-01-06 14:28:00.014086398,NBFToExchange,b8c529c1-9283-11ed-8407-047c16291a22,CancelRequest,0455B,NaN,Aequitas
4,2023-01-06 09:28:00.014213645,2023-01-06 14:28:00.014213645,ExchangeToNBF,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderAcknowledged,0455B,13.02,Aequitas
...,...,...,...,...,...,...,...,...
212217,2023-01-06 09:31:59.995169747,2023-01-06 14:31:59.995169747,NBFToExchange,b9921f99-9283-11ed-a400-047c16291a22,NewOrderRequest,DC0OC,45.67,TSX
212218,2023-01-06 09:31:59.995210138,2023-01-06 14:31:59.995210138,NBFToExchange,b9921f83-9283-11ed-bcf1-047c16291a22,CancelRequest,DC0OC,NaN,TSX
212219,2023-01-06 09:31:59.995219075,2023-01-06 14:31:59.995219075,ExchangeToNBF,b9921f99-9283-11ed-a400-047c16291a22,NewOrderAcknowledged,DC0OC,45.67,TSX
212220,2023-01-06 09:31:59.995257550,2023-01-06 14:31:59.995257550,ExchangeToNBF,b9921f83-9283-11ed-bcf1-047c16291a22,CancelAcknowledged,DC0OC,NaN,TSX
212221,2023-01-06 09:31:59.995262401,2023-01-06 14:31:59.995262401,ExchangeToNBF,b9921f83-9283-11ed-bcf1-047c16291a22,Cancelled,DC0OC,NaN,TSX

In [6]:
#sample to see different messages recieved 
sample = total_df[total_df["OrderID"]=="b8c529be-9283-11ed-ad3c-047c16291a22"]
sample

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
0,2023-01-06 09:28:00.013814157,2023-01-06 14:28:00.013814157,NBFToExchange,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderRequest,0455B,13.02,Aequitas
4,2023-01-06 09:28:00.014213645,2023-01-06 14:28:00.014213645,ExchangeToNBF,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderAcknowledged,0455B,13.02,Aequitas
172,2023-01-06 09:28:00.993798829,2023-01-06 14:28:00.993798829,NBFToExchange,b8c529be-9283-11ed-ad3c-047c16291a22,CancelRequest,0455B,NaN,Aequitas
174,2023-01-06 09:28:00.994174634,2023-01-06 14:28:00.994174634,ExchangeToNBF,b8c529be-9283-11ed-ad3c-047c16291a22,Cancelled,0455B,NaN,Aequitas

In [7]:
print(type(sample.iloc[0]["TimeStamp"]))
sample.iloc[0]["TimeStamp"].timestamp()-sample.iloc[1]["TimeStamp"].timestamp()

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

-0.0004000663757324219

#preparing new data

In [8]:
import numpy as np
import datetime

In [9]:
unique_ids = total_df["OrderID"].drop_duplicates()

req_time = []
cancel_time = []
r_exchanges = []
r_symbols = []
c_exchanges = []
c_symbols = []
o_anomaly_time = []
c_anomaly_time = []


for i in range(len(unique_ids)):
  id = unique_ids.iloc[i]

  transactions = total_df[total_df["OrderID"]==id]

  o_req = transactions[transactions["MessageType"]=="NewOrderRequest"]
  o_ack = transactions[transactions["MessageType"]=="NewOrderAcknowledged"]
  
  c_req = transactions[transactions["MessageType"]=="CancelRequest"]
  c_ack = transactions[transactions["MessageType"]=="CancelAcknowledged"]
  cancelled = transactions[transactions["MessageType"]=="Cancelled"]

  if (len(o_req)!=0 and len(o_ack)!=0):
  
    req_time.append((o_ack.iloc[0]["TimeStamp"].timestamp()-o_req.iloc[0]["TimeStamp"].timestamp())*1000)
    o_anomaly_time.append(np.squeeze(o_req["TimeStamp"].values))
    r_exchanges.append(str(np.squeeze(o_req["Exchange"].values)))
    r_symbols.append(str(np.squeeze(o_req["Symbol"].values)))

  else:

    req_time.append(np.nan)
    o_anomaly_time.append(np.nan)
    r_exchanges.append(np.nan)
    r_symbols.append(np.nan)


  if len(c_req)!=0:

    if len(c_ack)!=0:

      cancel_time.append((c_ack.iloc[0]["TimeStamp"].timestamp()-c_req.iloc[0]["TimeStamp"].timestamp())*1000)

    elif len(cancelled)!=0:

      cancel_time.append((cancelled.iloc[0]["TimeStamp"].timestamp()-c_req.iloc[0]["TimeStamp"].timestamp())*1000)

    else:

      cancel_time.append(np.nan)
    c_anomaly_time.append(np.squeeze(c_req["TimeStamp"].values))
    c_exchanges.append(str(np.squeeze(c_req["Exchange"].values)))
    c_symbols.append(str(np.squeeze(c_req["Symbol"].values)))

  else:

    cancel_time.append(np.nan)
    c_anomaly_time.append(np.nan)
    c_exchanges.append(np.nan)
    c_symbols.append(np.nan)

In [10]:
#making the new datasets

order = pd.DataFrame()
order["id"] = unique_ids
order["time"] = o_anomaly_time
order["exchange"] = r_exchanges
order["symbol"] = r_symbols
order["time_difference"] = req_time

cancel = pd.DataFrame()
cancel["id"] = unique_ids
cancel["time"] = c_anomaly_time
cancel["exchange"] = c_exchanges
cancel["symbol"] = c_symbols
cancel["time_difference"] = cancel_time

In [40]:
order = order.dropna()
order.to_csv("/content/drive/MyDrive/ML/cleaned_order")

In [41]:
cancel = cancel.dropna()
cancel.to_csv("/content/drive/MyDrive/ML/cleaned_cancel")

In [13]:
ord_data = order.drop(columns=["time", "id"])
can_data = cancel.drop(columns=["time", "id"])
type(ord_data["symbol"])

pandas.core.series.Series

In [14]:
ord_data = pd.get_dummies(ord_data, columns=["symbol", "exchange"])
can_data = pd.get_dummies(can_data, columns=["symbol", "exchange"])
ord_data

,time_difference,symbol_0455B,symbol_05VGI,symbol_07FM5,symbol_07PKN,symbol_0M3Q9,symbol_1H2XW,symbol_1K95A,symbol_1NTNT,symbol_215JE,...,symbol_Y18QU,symbol_Y3SCQ,symbol_Z5HII,symbol_Z9T7U,symbol_ZASDH,symbol_ZHOXR,symbol_ZVLDO,exchange_Aequitas,exchange_Alpha,exchange_TSX
0,0.400066,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.390053,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0.394106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,0.393867,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,0.408888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212197,0.063181,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212203,0.052214,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212208,0.054121,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212212,0.051975,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212217,0.048876,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
ord_data

,time_difference,symbol_0455B,symbol_05VGI,symbol_07FM5,symbol_07PKN,symbol_0M3Q9,symbol_1H2XW,symbol_1K95A,symbol_1NTNT,symbol_215JE,...,symbol_Y18QU,symbol_Y3SCQ,symbol_Z5HII,symbol_Z9T7U,symbol_ZASDH,symbol_ZHOXR,symbol_ZVLDO,exchange_Aequitas,exchange_Alpha,exchange_TSX
0,0.400066,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.390053,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0.394106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,0.393867,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,0.408888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212197,0.063181,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212203,0.052214,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212208,0.054121,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212212,0.051975,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212217,0.048876,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

#Making the model

In [16]:
import tensorflow as tf
from tensorflow.keras import layers, losses
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Model
import matplotlib.pyplot as plt

##preparing train and test sets

In [17]:
data_r = ord_data.drop(columns=["time_difference"])
labels_r = ord_data["time_difference"]

data_c = can_data.drop(columns=["time_difference"])
labels_c = can_data["time_difference"]

In [18]:
train_data_r, test_data_r, train_labels_r, test_labels_r = train_test_split(data_r, labels_r, test_size = 0.2, random_state = 42)
train_data_c, test_data_c, train_labels_c, test_labels_c = train_test_split(data_c, labels_c, test_size = 0.2, random_state = 42)
train_data_r.shape

(36719, 149)

In [2]:
!pip install pyod

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyod
  Downloading pyod-1.0.7.tar.gz (147 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.7/147.7 KB 8.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from pyod) (1.2.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from pyod) (3.2.2)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.8/dist-packages (from pyod) (1.21.6)
Requirement already satisfied: numba>=0.51 in /usr/local/lib/python3.8/dist-packages (from pyod) (0.56.4)
Requirement already satisfied: scipy>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from pyod) (1.7.3)
Requirement already satisfied: scikit_learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from pyod) (1.0.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from pyod) (1.15.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (from pyod) (0.12.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba>=0.51->pyod) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba>=0.51->pyod) (57.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba>=0.51->pyod) (6.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit_learn>=0.20.0->pyod) (3.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (2.8.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels->pyod) (0.5.3)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.8/dist-packages (from statsmodels->pyod) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels->pyod) (2022.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba>=0.51->pyod) (3.11.0)
Building wheels for collected packages: pyod
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-1.0.7-py3-none-any.whl size=181101 sha256=778a14d746c65e01537e514060ef6f80fe1f9f5abc6003f50266e94ed775c523
  Stored in directory: /root/.cache/pip/wheels/f7/e2/c1/1c7fd8b261e72411f6509afb429c84532e40ddcd96074473f4
Successfully built pyod
Installing collected packages: pyod
Successfully installed pyod-1.0.7

In [3]:
from pyod.utils.data import generate_data

In [33]:
from pyod.models.auto_encoder import AutoEncoder
atcdr_r = AutoEncoder(contamination=0.02, hidden_neurons =[2, 2])
atcdr_r.fit(train_data_r)

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 149)               22350

 dropout_12 (Dropout)        (None, 149)               0

 dense_16 (Dense)            (None, 149)               22350

 dropout_13 (Dropout)        (None, 149)               0

 dense_17 (Dense)            (None, 2)                 300

 dropout_14 (Dropout)        (None, 2)                 0

 dense_18 (Dense)            (None, 2)                 6

 dropout_15 (Dropout)        (None, 2)                 0

 dense_19 (Dense)            (None, 149)               447

=================================================================
Total params: 45,453
Trainable params: 45,453
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/100
1033/1033 [==============================] - 38s 4ms/step - loss: 7.0150 - val_loss: 2.3602
Epoch 2/100
1033/1033 [==============================] - 4s 4ms/step - loss: 3.3324 - val_loss: 1.5280
Epoch 3/100
1033/1033 [==============================] - 4s 4ms/step - loss: 2.3472 - val_loss: 1.2177
Epoch 4/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.7817 - val_loss: 1.0949
Epoch 5/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.4650 - val_loss: 1.0430
Epoch 6/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.2707 - val_loss: 1.0184
Epoch 7/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.1598 - val_loss: 1.0058
Epoch 8/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0903 - val_loss: 0.9972
Epoch 9/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0515 - val_loss: 0.9920
Epoch 10/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0289 - val_loss: 0.9888
Epoch 11/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0154 - val_loss: 0.9867
Epoch 12/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0087 - val_loss: 0.9855
Epoch 13/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0044 - val_loss: 0.9849
Epoch 14/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0028 - val_loss: 0.9845
Epoch 15/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0023 - val_loss: 0.9842
Epoch 16/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0021 - val_loss: 0.9841
Epoch 17/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0020 - val_loss: 0.9840
Epoch 18/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0019 - val_loss: 0.9840
Epoch 19/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0019 - val_loss: 0.9839
Epoch 20/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0019 - val_loss: 0.9839
Epoch 21/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0019 - val_loss: 0.9839
Epoch 22/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9839
Epoch 23/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9839
Epoch 24/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9839
Epoch 25/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9839
Epoch 26/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 27/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 28/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 29/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 30/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 31/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 32/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 33/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 34/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 35/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 36/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 37/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 38/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 39/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 40/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 41/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 42/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 43/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 44/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 45/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 46/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 47/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 48/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 49/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 50/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 51/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 52/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 53/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 54/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 55/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 56/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 57/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 58/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 59/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 60/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 61/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 62/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 63/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 64/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 65/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 66/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 67/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 68/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 69/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 70/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 71/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 72/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 73/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 74/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 75/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 76/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 77/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 78/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 79/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 80/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 81/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 82/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 83/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 84/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 85/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 86/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 87/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 88/100
1033/1033 [==============================] - 6s 6ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 89/100
1033/1033 [==============================] - 5s 5ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 90/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 91/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 92/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 93/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 94/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 95/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 96/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 97/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 98/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 99/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
Epoch 100/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0018 - val_loss: 0.9838
1148/1148 [==============================] - 2s 1ms/step

AutoEncoder(batch_size=32, contamination=0.02, dropout_rate=0.2, epochs=100,
      hidden_activation='relu', hidden_neurons=[2, 2], l2_regularizer=0.1,
      loss=<function mean_squared_error at 0x7f2257241ee0>,
      optimizer='adam', output_activation='sigmoid', preprocessing=True,
      random_state=None, validation_size=0.1, verbose=1)

In [28]:
# Training data
y_train_scores_r = atcdr_r.decision_function(train_data_r)
y_train_pred_r = atcdr_r.predict(train_data_r)

# Test data
y_test_scores_r = atcdr_r.decision_function(test_data_r)
y_test_pred = atcdr_r.predict(test_data_r) # outlier labels (0 or 1)
y_test_pred #for req

NotFittedError: ignored

In [37]:
atcdr_c = AutoEncoder(contamination=0.02, hidden_neurons =[2, 2])
atcdr_c.fit(train_data_c)

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 144)               20880

 dropout_16 (Dropout)        (None, 144)               0

 dense_21 (Dense)            (None, 144)               20880

 dropout_17 (Dropout)        (None, 144)               0

 dense_22 (Dense)            (None, 2)                 290

 dropout_18 (Dropout)        (None, 2)                 0

 dense_23 (Dense)            (None, 2)                 6

 dropout_19 (Dropout)        (None, 2)                 0

 dense_24 (Dense)            (None, 144)               432

=================================================================
Total params: 42,488
Trainable params: 42,488
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/100
1031/1031 [==============================] - 5s 4ms/step - loss: 5.6214 - val_loss: 2.5819
Epoch 2/100
1031/1031 [==============================] - 4s 4ms/step - loss: 2.6430 - val_loss: 1.5990
Epoch 3/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.8655 - val_loss: 1.2621
Epoch 4/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.5384 - val_loss: 1.1257
Epoch 5/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.3446 - val_loss: 1.0632
Epoch 6/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.2306 - val_loss: 1.0326
Epoch 7/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.1623 - val_loss: 1.0160
Epoch 8/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.1083 - val_loss: 1.0065
Epoch 9/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0695 - val_loss: 1.0009
Epoch 10/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0417 - val_loss: 0.9977
Epoch 11/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0238 - val_loss: 0.9957
Epoch 12/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0112 - val_loss: 0.9949
Epoch 13/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0044 - val_loss: 0.9938
Epoch 14/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0023 - val_loss: 0.9933
Epoch 15/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0014 - val_loss: 0.9931
Epoch 16/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0012 - val_loss: 0.9929
Epoch 17/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0011 - val_loss: 0.9928
Epoch 18/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0010 - val_loss: 0.9927
Epoch 19/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0009 - val_loss: 0.9927
Epoch 20/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0009 - val_loss: 0.9927
Epoch 21/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0009 - val_loss: 0.9927
Epoch 22/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0009 - val_loss: 0.9926
Epoch 23/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0009 - val_loss: 0.9926
Epoch 24/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0009 - val_loss: 0.9926
Epoch 25/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 26/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 27/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 28/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 29/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 30/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 31/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 32/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 33/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 34/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 35/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 36/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 37/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 38/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 39/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 40/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 41/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 42/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 43/100
1031/1031 [==============================] - 6s 6ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 44/100
1031/1031 [==============================] - 8s 7ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 45/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 46/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 47/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 48/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 49/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 50/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 51/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 52/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 53/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 54/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 55/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 56/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 57/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 58/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 59/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 60/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 61/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 62/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 63/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 64/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 65/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 66/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 67/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 68/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 69/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 70/100
1031/1031 [==============================] - 6s 5ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 71/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 72/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 73/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 74/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 75/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 76/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 77/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 78/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 79/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 80/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 81/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 82/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 83/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 84/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 85/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 86/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 87/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 88/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 89/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 90/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 91/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 92/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 93/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 94/100
1031/1031 [==============================] - 5s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 95/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 96/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 97/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 98/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 99/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
Epoch 100/100
1031/1031 [==============================] - 4s 4ms/step - loss: 1.0008 - val_loss: 0.9926
1146/1146 [==============================] - 2s 1ms/step

AutoEncoder(batch_size=32, contamination=0.02, dropout_rate=0.2, epochs=100,
      hidden_activation='relu', hidden_neurons=[2, 2], l2_regularizer=0.1,
      loss=<function mean_squared_error at 0x7f2257241ee0>,
      optimizer='adam', output_activation='sigmoid', preprocessing=True,
      random_state=None, validation_size=0.1, verbose=1)

In [25]:
# Training data
y_train_scores_c = atcdr_c.decision_function(train_data_c)
y_train_pred_c = atcdr_c.predict(train_data_c)

# Test data
y_test_scores_c = atcdr_c.decision_function(test_data_c)
y_test_pred_c = atcdr_c.predict(test_data_c) # outlier labels (0 or 1)
y_test_pred_c

1146/1146 [==============================] - 3s 3ms/step
1146/1146 [==============================] - 2s 1ms/step
287/287 [==============================] - 0s 1ms/step
287/287 [==============================] - 0s 1ms/step

array([0, 0, 0, ..., 0, 0, 0])

In [26]:
len(y_test_pred), len(y_test_pred_c)

(9180, 9165)

In [38]:
#final preds for cancel
pred_c_scores = atcdr_c.decision_function(data_c)
pred_c = atcdr_c.predict(data_c)

1432/1432 [==============================] - 2s 1ms/step
1432/1432 [==============================] - 2s 1ms/step

In [39]:
#total cancelation anomalies 

pred_c.sum()

902

In [43]:
pd.DataFrame(pred_r).to_csv("/content/drive/MyDrive/ML/final_r_preds")

In [44]:
pd.DataFrame(pred_c).to_csv("/content/drive/MyDrive/ML/final_c_preds")

In [34]:
pred_r_scores = atcdr_r.decision_function(data_r)
pred_r = atcdr_r.predict(data_r)
len(pred_r)

1435/1435 [==============================] - 3s 2ms/step
1435/1435 [==============================] - 2s 1ms/step

45899

In [35]:
#total order placement anomalies 
pred_r.sum()

885

#getting the final dataset

In [86]:
anomaly_1_list = []
for i in range(len(pred_r)):
  if pred_r[i]:
    anomaly_1_list.append("Request Anomaly")
  else:
    anomaly_1_list.append("Normal")

anomaly_2_list = []
for i in range(len(pred_c)):
  if pred_c[i]:
    anomaly_2_list.append("Cancelation Anomaly")
  else:
    anomaly_2_list.append("Normal")

In [87]:
order["anomaly"] = anomaly_1_list
cancel["anomaly"] = anomaly_2_list

In [91]:
with open("/content/drive/MyDrive/Hackathon Squad/a_1.txt", 'a') as f:
    order_string = order.to_string(header=False, index=False)
    f.write(order_string)

In [93]:
with open("/content/drive/MyDrive/Hackathon Squad/a_2.txt", 'a') as f:
    cancel_string = cancel.to_string(header=False, index=False)
    f.write(cancel_string)

In [94]:
#thresholds to classify a transaction as anomaly (miliseconds)
threshold_r = atcdr_r.threshold_
threshold_c = atcdr_c.threshold_
threshold_r, threshold_c

(28.568705957419404, 27.638146923711812)